/* styles.css */

body {
    background-color: black;
    color: #FFA500; /* Laranja escuro */
    font-family: Arial, sans-serif;
    text-align: center; /* Centraliza o texto no corpo */
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    padding: 10px;
}

nav {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #222;
}

nav a {
    color: #FFA500;
    padding: 10px;
    text-decoration: none;
}

nav a:hover {
    background-color: #444;
    border-radius: 5px;
}

h1 {
    margin: 20px 0;
}

/* Alinhamento e estilo para os formulários */
section {
    margin: 20px;
}

form {
    display: flex;
    flex-direction: column; /* Para os campos ficarem um abaixo do outro */
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
}

form label {
    text-align: left;
    width: 100%;
    margin-bottom: 5px;
}

form input {
    padding: 10px;
    width: 100%;
    max-width: 300px;
    margin-bottom: 15px;
    border: 1px solid #555;
    border-radius: 5px;
}

form button {
    background-color: #FFA500;
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    max-width: 300px;
}

form button:hover {
    background-color: #ffcc00;
}

#errorMessage {
    color: red;
    display: none;
}

/* Alinhamento da mensagem de erro no login */
#formLogin {
    text-align: center;
}

/* Estilo para o rodapé */
.footer {
    margin-top: 20px;
}

.menu-hamburguer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.item {
    text-align: center;
    margin: 20px;
    background-color: #222;
    border: 1px solid #555;
    border-radius: 5px;
    padding: 15px;
    width: 200px;
}

.item img {
    max-width: 100%;
    height: auto;
}

#carrinho {
    margin-top: 20px;
}

#total {
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}

button {
    background-color: #FFA500;
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #ffcc00;
}

